<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background: #000033;
            font-family: "Times New Roman", Times, serif;
        }
        .footer{
            color:white;
            font-size: 15px;
            background-color: black;
            text-align: center;
        }
        
    </style>
</head>
<body>
    <div style="height: 30px; vertical-align: center;">
        <p class="footer">Powered by TMDB. Developed by Rong Wang.</p>
    </div>
    
</body>
</html>